<ng-container *ngIf="serverWorks && !loading && !imageUrl">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="dropzone" appDragDrop (fileDropped)="onFileUpload($event)">
        <input 
          title="Neįkeltas joks failas"
          ngModel #inputFile="ngModel" name="inputFile" required
          type="file"   
          id="fileDropRef"
          class="form-control-file"
          (change)="onFileUpload($event)">
        <img class="mb-2" src="../../assets/ic-upload-file.svg" alt="">
        <h3>Įtempkite failą čia</h3>
        <h3>arba</h3>
        <label class="btn btn-danger mb-0 px-5" for="fileDropRef">Įkelkite failą</label>
      </div>
      <div class="alert alert-danger" *ngIf="inputFile.touched && error">
        <div *ngIf="error">
          {{errorText}}
        </div>
      </div>
    </div>
  </form>
</ng-container>

<div *ngIf="imageUrl" [ngStyle]="{'max-height': containerHeight}" class="scroll-container" [hidden]="loading">
  <div class="card" style="width: 19rem;">
    <image-cropper
      *ngIf="enabledCrop"
      class="card-img-top"
      [imageURL]="imageUrl"
      [maintainAspectRatio]="false"
      format="jpeg"
      (imageLoaded)="imageLoaded()"
      (imageCropped)="imageCropped($event)">
    </image-cropper>
    <img *ngIf="!enabledCrop" #uploadedImage class="card-img-top" src="{{imageUrl}}" alt="Card image">
    <!-- <img *ngIf="enabledCrop" class="card-img-top" src="{{croppedImage}}" alt="cropped card image"> -->
    <div *ngIf="loadingImage || error" class="card-body">
      <p *ngIf="loadingImage" class="card-text">Analizuojama...</p>
      <div *ngIf="loadingImage" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <p *ngIf="error" class="mb-0">{{errorText}}</p>
    </div>
    <div *ngIf="predictions.length > 0 && !loadingImage && !loading">
      <h5 class="ml-2 mt-2">Spėjimai:</h5>
      <ul class="list-group list-group-flush">
        <li *ngFor="let pred of predictions" class="list-group-item">
          {{pred.class}}
          <a *ngIf="pred.url" [href]="pred.url" target="_blank" class="card-link">wiki</a>
        </li>
      </ul>  
    </div>
    <div *ngIf="!loadingImage && !loading" class="p-1 d-flex flex-column">
      <div class="d-flex justify-content-between my-1">
        <button class="btn btn-primary px-5" (click)="onSubmit()">Spėti</button>
        <button class="btn btn-secondary px-5" (click)="enableCrop()">{{enabledCrop ? 'Nekirpti' : 'Iškirpti'}}</button>  
      </div>
      <button class="btn btn-danger px-5" (click)="clearState()">Valyti</button>
    </div>
  </div>
</div>

<div *ngIf="!serverWorks && !loading" class="alert alert-danger" role="alert">
  Atsiprašome, puslapis šiuo metu neveikia. Bandykite vėliau.
</div>

<div *ngIf="loading && !loadingImage" role="status">
  <span id="loading"></span>
</div>