@media (max-width: 500px) {
    .dropzone {
        padding: 3rem !important;
    }
}

.dropzone {
    width: auto;
    padding: 7rem;
    text-align: center;
    border: dashed 2px #979797;
    position: relative;
    margin: 0 auto;
}

.dropzone input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.dropzone h3 {
    font-size: 20px;
    font-weight: 600;
    color: #17a2b8;
}

.dropzone * {
    cursor: pointer;
}

.scroll-container {
    /* max-height: 92vh; */
    overflow-y: auto;
    overflow-x: hidden;
}

.my-tooltip {
    color: #007bff;
    cursor: pointer;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
    
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}